# Node.js
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# dotenv
.env

# OS va VS Code
.DS_Store
Thumbs.db
.vscode/

# Logs
logs
*.log
logs/**/*.log

# Coverage & build
coverage/
dist/
build/

# PM2 va boshqa servislar
pids
*.pid
*.seed

# MongoDB
dump/
*.local

# Optional: test o
